@font-face {
    font-family: Arial;
    src: url(../fonts/Perfect_fonts_CC.ttf);
}

a {
    text-decoration: none;
    color: #68412E;
    font-size: 20px;
}

.login-div {
    margin-top: 80px;
}

.register-div {
    margin-top: 50px;
}

.border-div {
    border-left: 4px solid #E5C4B4;
    border-right: 4px solid #E5C4B4;
}

.login-input {
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    border-radius: 5px;
    padding: 8px;
    margin: 0 0 10px 0;
    width: 200px;
    height: 25px;
}

.submit {
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    border-radius: 5px;
    margin: 0 0 10px 0;
    width: 200px;
    height: 25px;
}

body {
    margin: 0;
    padding: 0;
    color: #68412E;
    background: #E5C4B4 url(../images/background_image.png);
    background-repeat: repeat;
    font-family: Pompadur, 'Comic Sans MS', cursive;
    margin-left: 220px;
    margin-right: 220px;
}

article {
    padding-top: 10px;
    float: right;
    background-color: #FCF0E4;
    text-align: center;
    width: 75%;
    height: 600px;
}

nav {
    padding-top: 10px;
    float: left;
    background-color: white;
    width: 25%;
    height: 600px;
    text-align: center;
    color: black;
}

span {
    color: #8E685C;
}

.welcome {
    padding: 10px;
    font-size: 50px;
    text-align: center;
    width: 98.5%;
    height: 100px;
    background-color: #E5C4B4;
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    background-color: #F4CEC2;
    width: 98.1%;
    height: 100px;
}

ul {
    text-align: left;
    list-style-type: none;
}